In [1]:
import pandas as pd
import os
import glob
import sqlite3 as sql

In [2]:
path = os.getcwd()
parent = os.path.join(path, os.pardir)
csv_files = glob.glob(os.path.join(parent, "*.csv"))

In [3]:
item_categories = []

for f in csv_files:
    f = f.replace('-', '_')
    f = f.replace(' ', '_')
    split_1 = f.split("\\")
    split_2 = split_1[-1].split('.')
    category = split_2[0]
    item_categories.append(category)

In [4]:
items_dfs = []

for f in csv_files:
    df = pd.read_csv(f)
    items_dfs.append(df)

In [5]:
items_dictionary = {}

for i in range(len(items_dfs)):
    items_dictionary[item_categories[i]] = items_dfs[i]

In [6]:
conn = sql.connect('animal_crossing_inventory.db')
cursor = conn.cursor()

In [7]:
for i in item_categories:
    query = f"DROP table IF EXISTS {i}"
    cursor.execute(query)

In [8]:
for key, value in items_dictionary.items():
    value.to_sql(key, conn, index=False)

C:\Users\Kaylie\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [9]:
conn.close()